<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tateo.io</title>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/tateoio.css') }}">

    <link rel="shortcut icon" href="{{ static }}/favicon-2.ico" type="image/x-icon">
    <link rel="icon" href="{{ static }}/favicon.ico" type="image/x-icon">

</head>

<body>
    <section class="parallax-container">
        <h1>Gino Tateo</h1>
        <p>
            Warehouse Manager
        </p>
    </section>



    <section class="parallax-container parallax-container2">
        <div class="card">
            <div class="card-img"></div>
            <div class="cardop">
                <h3>Resume</h3>
                <p>
                    View my interactive Resume
                </p>
                <a href="/resume">View</a>
            </div>
        </div>
        <div class="card">
            <div class="card-img"></div>
            <div class="cardop">
                <h3>GitHub</h3>
                <p>
                    Check out my GitHub
                </p>
                <a href="https://github.com/GinoTateo">View</a>
            </div>
        </div>
        <div class="card">
            <div class="card-img"></div>
            <div class="cardop">
                <h3>Projects</h3>
                <p>
                    View my Projects
                </p>
                <a href="/projects">View</a>
            </div>
        </div>
    </section>
</body>

</html>
